body {
    background-color: #f0f7ff; /* Un azul muy claro para el fondo */
}

h1, h2, h3, h4, h5, h6 {
    color: #003366; /* Un azul oscuro para los títulos */
}

a, a:hover {
    color: #007bff; /* Mantener el azul de Bootstrap para enlaces */
}

.navbar {
    margin-bottom: 30px;
}

.jumbotron {
    background-color: #003366; /* Un azul oscuro para el jumbotron */
}

footer {
    background-color: #002244; /* Un azul más oscuro para el pie de página */
}
